.offset:before {
    display: block;
    content: " ";
    height: 90px;      /* Give height of your fixed element */
    margin-top: -90px; /* Give negative margin of your fixed element */
    visibility: hidden;
}
